<h1>Concept edit</h1>

{% if app.session.hasFlash('notice') %}
    <div class="flash-notice">
        {{ app.session.flash('notice') }}
    </div>
{% endif %}
{% if app.session.hasFlash('error') %}
    <div class="flash-notice">
        {{ app.session.flash('error') }}
    </div>
{% endif %}

<form action="{{ path('concept_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('concept') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('concept_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
