{% extends 'ProjetBDDThesaurusBundle:Default:layout.html.twig' %}

{% block title %}Affichage des concepts{% endblock %}

{% block stylesheet %}
{{ parent() }}
{% endblock %}


{% block content %}
<h1>Concept list</h1>
    <ul>
    {% for entry in tab %}
        <li style="margin-left:{{ entry.rang }}00px"><a href="{{ path('concept_show', { 'id': entry.entity.id }) }}">{{ entry.entity }}</a></li>
    {% endfor %}
    </ul>

<ul>
    <li>
        <a href="{{ path('concept_new') }}">
            Create a new entry
        </a>
    </li>
</ul>


{% endblock %}
