{% extends 'ProjetBDDThesaurusBundle:Default:layout.html.twig' %}

{% block stylesheet %}
parent()
{% endblock %}

{% block title %}Ajout d'un concept{% endblock %}

{% block content %}
<h1>Ajout d'un concept</h1>

<form id="mainform" action="{{ path('concept_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
	<a href="{{ path('concept', { 'id': entity.id }) }}" title="Annuler" class="annuler">
		<img src="{{ asset('bundles/projetbddthesaurus/images/annuler.svg') }}" alt="Annuler">
	</a>
        <button id="submit" type="submit">Create</button>
    </p>
</form>
{% endblock %}
