{% extends 'ProjetBDDThesaurusBundle:Concept:layout.html.twig' %}

{% block title %}Affichage du concept {{ entity }}{% endblock %}

{% block content %}
<h1>Concept</h1>

<div class="top-center">
	<h2>Concept</h2>
	{{ entity }}
</div>

<div class="top-block">
	<h2>Concept général</h2>
	{% if entity.getConceptGeneral %}
	<a href="{{ path('concept_show', { 'id': entity.getConceptGeneral.id }) }}">{{ entity.getConceptGeneral }}</a>
	{% endif %}
</div>

<div class="top-right">
	<h2>Termes Synonymes</h2>
	<ul>
	{% for synonyme in entity.getSynonymes %}
		<li>
		{{ synonyme }}
		</li>
	{% endfor %}
	</ul>
</div>

<div class="top-left">
	<h2>Concepts associés</h2>
	<ul>
	{% for association in entity.getAssociations %}
		<li>
		<a href="{{ path('concept_show', { 'id': association.id }) }}">{{ association }}</a>
		</li>
	{% endfor %}
	</ul>
</div>

<div class="top-bottom">
	<h2>Concepts spécifiques</h2>
	<ul>
	{% for specifique in entity.getConceptsSpecifiques %}
		<li>
		<a href="{{ path('concept_show', { 'id': specifique.id }) }}">{{ specifique }}</a>
		</li>
	{% endfor %}
	</ul>
</div>


<ul class="record_actions">
    <li>
        <a href="{{ path('concept') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('concept_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('concept_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

{% endblock %}
