<h1>Concept</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Concept : </th>
            <td>{{ entity }}</td>
        </tr>
        <tr>
            <th>Concept général : </th>
            <td>{{ entity.getConceptGeneral() }}</td>
        </tr>
        <tr>
            <th>Concepts spécifiques :</th>
            <td><ul>
                {% for t in entity.getConceptsSpecifiques() %}
                    <li>{{ t }}</li>
                {% endfor %}
            </ul></td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('concept') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('concept_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('concept_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
