{% extends 'ProjetBDDThesaurusBundle:Default:layout.html.twig' %}

{% block title %}Edition du terme "{{ entity }}"{% endblock %}

{% block stylesheet %}
{{ parent() }}
{% endblock %}

{% block content %}
<h1>Edition du terme "{{ entity }}"</h1>

<form id="mainform" action="{{ path('terme_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
	<a href="{{ path('terme', { 'id': entity.id }) }}" title="Annuler" class="annuler">
		<img src="{{ asset('bundles/projetbddthesaurus/images/annuler.svg') }}" alt="Annuler">
	</a>
        <button id="submit" type="submit">Edit</button>
    </p>
</form>
<form action="{{ path('terme_delete', { 'id': entity.id }) }}" method="post">
     {{ form_widget(delete_form) }}
    <button id="delete" type="submit">Delete</button>
</form>
{% endblock %}
