{% extends 'ProjetBDDThesaurusBundle:Default:layout.html.twig' %}

{% block title %}Liste des termes{% endblock %}

{% block stylesheet %}
{{ parent() }}
{% endblock %}

{% block content %}
<h1>Liste des termes</h1>
<a class="new" href="{{ path('terme_new') }}"><img src="{{ asset('bundles/projetbddthesaurus/images/plus.svg') }}" alt="">Ajouter un terme</a>
<ul>
    {% for entity in entities %}
        <li>
            <td><a href="{{ path('terme_edit', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
        </li>
    {% endfor %}
</ul>


{% endblock %}

