{% extends 'ProjetBDDThesaurusBundle:Default:layout.html.twig' %}

{% block title %}Ajout d'un terme{% endblock %}

{% block stylesheet %}
{{ parent() }}
{% endblock %}

{% block content %}
<h1>Ajout d'un terme</h1>

<form id="mainform" class="" action="{{ path('terme_create') }}" method="post" {{ form_enctype(form) }}>
   {{ form_widget(form) }}
    <p>
	<a href="{{ path('terme', { 'id': entity.id }) }}" title="Annuler" class="annuler">
		<img src="{{ asset('bundles/projetbddthesaurus/images/annuler.svg') }}" alt="Annuler">
	</a>
        <button id="submit" type="submit">Ajouter</button>
    </p>
</form>

{% endblock %}
